<a href="https://colab.research.google.com/github/mathewsrc/pyspark-concepts/blob/master/SparkManipulatingDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
try:
  import pyspark
except:
  !pip install pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Manipulate").getOrCreate()
spark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 16.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=a13d2889ff576ed3dd6764ff7b538dfc1b67de353af7df28ce3a7c6f6010eb4f
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [40]:
names = spark.createDataFrame([('Abra', 'Lin')], ['first_name', 'last_name'])

In [41]:
names.show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|      Abra|      Lin|
+----------+---------+

In [42]:
names.rdd.id()

78

In [43]:
from pyspark.sql.functions import *

In [44]:
names = names.select(names.first_name, names.last_name, concat_ws(' ', names.first_name, names.last_name).alias('full_name'))

In [45]:
names.show()

+----------+---------+---------+
|first_name|last_name|full_name|
+----------+---------+---------+
|      Abra|      Lin| Abra Lin|
+----------+---------+---------+

In [46]:
path = "/content/drive/MyDrive/"
data = 'youtubevideos.csv'
videos = spark.read.csv(path+data, inferSchema=True, header=True)

In [47]:
videos.limit(4).toPandas()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"""last week tonight trump presidency""|""last wee...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"""racist superman""|""rudy""|""mancuso""|""king""|""bac...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"""rhett and link""|""gmm""|""good mythical morning""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...

In [48]:
videos.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: string (nullable = true)
 |-- likes: string (nullable = true)
 |-- dislikes: string (nullable = true)
 |-- comment_count: string (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

In [50]:
videos.limit(2).toPandas()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"""last week tonight trump presidency""|""last wee...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."

In [51]:
from pyspark.sql.types import IntegerType

In [65]:
df = videos.withColumn("views", videos["views"].cast(IntegerType())) \
          .withColumn("likes", videos["likes"].cast(IntegerType())) \
          .withColumn("dislikes", videos["dislikes"].cast(IntegerType())) \
          .withColumn("trending_date", to_date(videos.trending_date, 'yy.dd.mm'))

In [58]:
df.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: date (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: timestamp (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: string (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

In [66]:
df.limit(5).toPandas()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,2017-01-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,2017-01-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"""last week tonight trump presidency""|""last wee...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,2017-01-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"""racist superman""|""rudy""|""mancuso""|""king""|""bac...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,2017-01-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"""rhett and link""|""gmm""|""good mythical morning""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,2017-01-14,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"""ryan""|""higa""|""higatv""|""nigahiga""|""i dare you""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [37]:
from pyspark.sql.functions import *

In [67]:
df = df.withColumn('publish_time_2', regexp_replace(df.publish_time, 'T', ' '))

In [68]:
df = df.withColumn('publish_time_2', regexp_replace(df.publish_time_2, 'Z', ''))

In [70]:
df.withColumn("publish_time", to_timestamp(videos.publish_time, 'yyyy-MM-dd HH:mm:ss'))
df.select('publish_time_2').show(10, False)

+-----------------------+
|publish_time_2         |
+-----------------------+
|2017-11-13 17:13:01.000|
|2017-11-13 07:30:00.000|
|2017-11-12 19:05:24.000|
|2017-11-13 11:00:04.000|
|2017-11-12 18:01:41.000|
|2017-11-13 19:07:23.000|
|2017-11-12 05:37:17.000|
|2017-11-12 21:50:37.000|
|2017-11-13 14:00:23.000|
|2017-11-13 13:45:16.000|
+-----------------------+
only showing top 10 rows

In [ ]:
#renamed = df.withColumnRenamed('new', 'publish_time_2')

Translate Function

In [71]:
df.select('publish_time', translate(col('publish_time'), 'TZ', ' ').alias('trans')).show(5, False)

+------------------------+-----------------------+
|publish_time            |trans                  |
+------------------------+-----------------------+
|2017-11-13T17:13:01.000Z|2017-11-13 17:13:01.000|
|2017-11-13T07:30:00.000Z|2017-11-13 07:30:00.000|
|2017-11-12T19:05:24.000Z|2017-11-12 19:05:24.000|
|2017-11-13T11:00:04.000Z|2017-11-13 11:00:04.000|
|2017-11-12T18:01:41.000Z|2017-11-12 18:01:41.000|
+------------------------+-----------------------+
only showing top 5 rows

Trim

In [72]:
df = df.withColumn('title', trim(df.title)) #rtrim/ltrim

In [73]:
df.select('title').show(5, False)

+--------------------------------------------------------------+
|title                                                         |
+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |
|Nickelback Lyrics: Real or Fake?                              |
|I Dare You: GOING BALD!?                                      |
+--------------------------------------------------------------+
only showing top 5 rows

Lower

In [74]:
df.select('title', lower(df.title)).show(5, False)

+--------------------------------------------------------------+--------------------------------------------------------------+
|title                                                         |lower(title)                                                  |
+--------------------------------------------------------------+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |we want to talk about our marriage                            |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|the trump presidency: last week tonight with john oliver (hbo)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |racist superman | rudy mancuso, king bach & lele pons         |
|Nickelback Lyrics: Real or Fake?                              |nickelback lyrics: real or fake?                              |
|I Dare You: GOING BALD!?                                      |i dare you: going bald!?                                      |
+--------------------------------------------------------------+--------------------------------------------------------------+
only showing top 5 rows

Case When

In [75]:
df.select('likes', 'dislikes', (when(df.likes > df.dislikes, 'Good').when(df.likes < df.dislikes, 'Bad').otherwise('Undetermined')).alias('Favorability')).show(5, False)

+------+--------+------------+
|likes |dislikes|Favorability|
+------+--------+------------+
|57527 |2966    |Good        |
|97185 |6146    |Good        |
|146033|5339    |Good        |
|10172 |666     |Good        |
|132235|1989    |Good        |
+------+--------+------------+
only showing top 5 rows

In [79]:
df.select('likes', 'dislikes', expr('CASE WHEN likes > dislikes THEN "Good" WHEN dislikes > likes THEN "Bad" ELSE "Undetermined" END AS Favorability')).show(5, False)

+------+--------+------------+
|likes |dislikes|Favorability|
+------+--------+------------+
|57527 |2966    |Good        |
|97185 |6146    |Good        |
|146033|5339    |Good        |
|10172 |666     |Good        |
|132235|1989    |Good        |
+------+--------+------------+
only showing top 5 rows

In [80]:
df.selectExpr('likes', 'dislikes', 'CASE WHEN likes > dislikes THEN "Good" WHEN dislikes > likes THEN "Bad" ELSE "Undetermined" END AS Favorability').show(5, False)

+------+--------+------------+
|likes |dislikes|Favorability|
+------+--------+------------+
|57527 |2966    |Good        |
|97185 |6146    |Good        |
|146033|5339    |Good        |
|10172 |666     |Good        |
|132235|1989    |Good        |
+------+--------+------------+
only showing top 5 rows

Concatenate

In [81]:
df.select(concat_ws(' ', df.title, df.channel_title).alias('test')).show(5, False)

+------------------------------------------------------------------------------+
|test                                                                          |
+------------------------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE CaseyNeistat                               |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO) LastWeekTonight|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons Rudy Mancuso            |
|Nickelback Lyrics: Real or Fake? Good Mythical Morning                        |
|I Dare You: GOING BALD!? nigahiga                                             |
+------------------------------------------------------------------------------+
only showing top 5 rows

Extract year, month from date

In [85]:
df.select('trending_date', year('trending_date'), month('trending_date')).show(5, False)

+-------------+-------------------+--------------------+
|trending_date|year(trending_date)|month(trending_date)|
+-------------+-------------------+--------------------+
|2017-01-14   |2017               |1                   |
|2017-01-14   |2017               |1                   |
|2017-01-14   |2017               |1                   |
|2017-01-14   |2017               |1                   |
|2017-01-14   |2017               |1                   |
+-------------+-------------------+--------------------+
only showing top 5 rows

Date difference

In [91]:
df.select('trending_date', 'publish_time_2', datediff(df.publish_time_2, df.trending_date)).show(5, False)

+-------------+-----------------------+---------------------------------------+
|trending_date|publish_time_2         |datediff(publish_time_2, trending_date)|
+-------------+-----------------------+---------------------------------------+
|2017-01-14   |2017-11-13 17:13:01.000|303                                    |
|2017-01-14   |2017-11-13 07:30:00.000|303                                    |
|2017-01-14   |2017-11-12 19:05:24.000|302                                    |
|2017-01-14   |2017-11-13 11:00:04.000|303                                    |
|2017-01-14   |2017-11-12 18:01:41.000|302                                    |
+-------------+-----------------------+---------------------------------------+
only showing top 5 rows

Spliting string with pattern

In [93]:
array = df.select('title', split(df.title, ' ').alias('split'))
array.show(5, False)

+--------------------------------------------------------------+-------------------------------------------------------------------------+
|title                                                         |split                                                                    |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |[WE, WANT, TO, TALK, ABOUT, OUR, MARRIAGE]                               |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|[The, Trump, Presidency:, Last, Week, Tonight, with, John, Oliver, (HBO)]|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |[Racist, Superman, |, Rudy, Mancuso,, King, Bach, &, Lele, Pons]         |
|Nickelback Lyrics: Real or Fake?                              |[Nickelback, Lyrics:, Real, or, Fake?]                                   |
|I Dare You: GOING BALD!?                                      |[I, Dare, You:, GOING, BALD!?]                                           |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
only showing top 5 rows

Finding strings

In [94]:
array.select('title', array_contains(array.split, "MARRIAGE")).show(5, False)

+--------------------------------------------------------------+-------------------------------+
|title                                                         |array_contains(split, MARRIAGE)|
+--------------------------------------------------------------+-------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |true                           |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|false                          |
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |false                          |
|Nickelback Lyrics: Real or Fake?                              |false                          |
|I Dare You: GOING BALD!?                                      |false                          |
+--------------------------------------------------------------+-------------------------------+
only showing top 5 rows

Remove repetitive words

In [95]:
array.select('title', array_distinct(array.split)).show(5, False)

+--------------------------------------------------------------+-------------------------------------------------------------------------+
|title                                                         |array_distinct(split)                                                    |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |[WE, WANT, TO, TALK, ABOUT, OUR, MARRIAGE]                               |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|[The, Trump, Presidency:, Last, Week, Tonight, with, John, Oliver, (HBO)]|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |[Racist, Superman, |, Rudy, Mancuso,, King, Bach, &, Lele, Pons]         |
|Nickelback Lyrics: Real or Fake?                              |[Nickelback, Lyrics:, Real, or, Fake?]                                   |
|I Dare You: GOING BALD!?                                      |[I, Dare, You:, GOING, BALD!?]                                           |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
only showing top 5 rows

Remove words

In [97]:
array.select('title', concat_ws(' ',array_remove(array.split, 'WE'))).show(5, False)

+--------------------------------------------------------------+--------------------------------------------------------------+
|title                                                         |concat_ws( , array_remove(split, WE))                         |
+--------------------------------------------------------------+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |WANT TO TALK ABOUT OUR MARRIAGE                               |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |
|Nickelback Lyrics: Real or Fake?                              |Nickelback Lyrics: Real or Fake?                              |
|I Dare You: GOING BALD!?                                      |I Dare You: GOING BALD!?                                      |
+--------------------------------------------------------------+--------------------------------------------------------------+
only showing top 5 rows

In [101]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

In [102]:
def square(x):
  return int(x**2)

In [103]:
square_udf = udf(lambda z: square(z), IntegerType())

In [104]:
df.select('dislikes', square_udf('dislikes')).where(col('dislikes').isNotNull()).show(5, False)

+--------+------------------+
|dislikes|<lambda>(dislikes)|
+--------+------------------+
|2966    |8797156           |
|6146    |37773316          |
|5339    |28504921          |
|666     |443556            |
|1989    |3956121           |
+--------+------------------+
only showing top 5 rows